################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/TransactionalFileManager/v16/Server/sqlite3
